body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

img {
    width: 489px;
    margin: 20px;
}
input {
    border: 1px solid #000;
    background: #fdfdfd;
    font-size: 20px;
    padding: 4px;
    margin: 2px;
}
button{
    border: 1px solid #000;
    background: #d8d8d8;
    font-size: 20px;
    padding: 10px;
    margin: 2px;
}
.result {
    padding: 20px;
    border: 1px solid #d8d8d8;
    background: #fdfdfd;
}